<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcFunDowner2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AcFunDowner2._0.Properties.Settings>
            <setting name="AcFunDowner2_0_net_bing_api_BingService" serializeAs="String">
                <value>http://api.bing.net:80/soap.asmx</value>
            </setting>
        </AcFunDowner2._0.Properties.Settings>
    </applicationSettings>
</configuration>